<section id="about" class="section ">
        <div class="homecolor-box"></div>
        <div class="common_bg animate__animated animate__fadeInDown">
          <div class="container">
            <div class="about-content">
              <!-- About Title Start-->
              <div class="row ">
                <div class="col-12 ">
                  <div class="section-title animate__animated animate__fadeInDown animate__delay-1s">
                    <P class="common-desctiption">my intro</P>
                    <h1 class="common-title">About <span>Me</span></h1>
                    <div class="animated-bar"></div>
                  </div>
                </div>
              </div>
              <!-- About Title End -->
              <!-- About-Me -->
              <div class="row single-section">
                <div class="col-lg-4 profile-photo animate__animated animate__fadeInLeft animate__delay-2s ">
                  <div class="row">
                    <div class="col-12 d-block col-sm-none">
                      <img src="../../public/images/profile/tarik-image.jpeg" class="img-fluid main-img-mobile" alt="my picture">
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                  <div class="row personal-info animate__animated animate__fadeInRight animate__delay-2s">

                    <div class="col-12">
                      <h5 class="personal-title">who am <span>i ?</span></h5>
                      <h3 class="personal-title">I'm Tarık İSLAM, a <span>Software Engineer</span> and <span>Web
                          Developer</span></h3>
                      <p class="info">I am a Software Engineer and Frontend Developer with a passion for creating elegant and user-friendly websites and applications. With my expertise in web development technologies such as HTML, CSS, JavaScript, jQuery, and Bootstrap, 
                      <br> I am committed to delivering high-quality and responsive solutions that meet the needs of businesses and users. I am a creative problem-solver who enjoys tackling complex challenges and finding efficient and innovative solutions. 
                      <br> With my attention to detail and ability to work well under pressure, I am confident in my ability to deliver exceptional results on time and within budget. 
                      <br> I am constantly learning and exploring new technologies to improve my skills and stay up-to-date with industry trends.</p>
                    </div>

                    <div class="row align-items-center">
                      <div class="col-lg-12">
                        <h3 class="personal-infotitle">personal <span>informations</span></h3>
                      </div>

                      <div class="col-lg-6">
                        <ul class="about-you ">
                          <li>
                            <span class="title">first name :</span>
                            <span class="value">Tarık</span>
                          </li>
                          <li>
                            <span class="title">last name :</span>
                            <span class="value">İslam</span>
                          </li>
                          <li>
                            <span class="title">address :</span>
                            <span class="value">Karşıyaka, İzmir</span>
                          </li>
                          <li>
                            <span class="title">From :</span>
                            <span class="value">İzmir, Turkey</span>
                          </li>
                          <li>
                            <span class="title">Age :</span>
                            <span class="value">29 years</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6">
                        <ul class="about-you ">
                          <li>
                            <span class="title">E-mail :</span>
                            <span class="value"><a href="mailto:tar_kislam@hotmail.com">tar_kislam@hotmail.com</a></span>
                          </li>
                          <li>
                            <span class="title">Phone :</span>
                            <span class="value"><a href="tel:(+90)533-853-3227">(+90) 533-853-3227</a></span>
                          </li>
                          <li>
                            <span class="title">Langages :</span>
                            <span class="value">English, Turkish</span>
                          </li>
                          <li>
                            <span class="title">Freelance :</span>
                            <span class="value"> Available</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-12">
                        <div class="About-btn">
                          <button class="clickbtn download-cv">
                             <i class="fa fa-download" aria-hidden="true"></i> 
                             <a id="cv-button" href="https://drive.google.com/u/1/uc?id=19DY0dAyvqh-vKdtCjVaASguJKSeYddft&export=download" target="_blank"> 
                            Download CV 
                            </a> 
                          </button>

                          <!-- Social media icons-->
                          <div class="col-lg-7 col-sm-6 col-12">
                            <ul class="list-unstyled social-icons">
                             {{!--  <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="javascript:void(0)"><i class="fab fa-facebook-square"></i></a></li> --}}
                              <li><a href="https://www.linkedin.com/in/tar%C4%B1k-islam-59b503179/?locale=en_US" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                              <li><a href="https://github.com/tar-kislam" target="_blank"><i class="fab fa-github-square"></i></a></li>
                              <li><a href="https://www.instagram.com/tar_kislam/" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- About-Me End -->
              <!-- Resume section Start -->
              <div class="resume-section ">
                <!-- Resume title-->
                <div class="row">
                  <div class="col-12">
                    <div class="section-title animate__animated animate__fadeInUp animate__delay-3s">
                      <P class="common-desctiption">Check out my Resume</P>
                      <h1 class="common-title ">my <span>Resume</span></h1>
                      <div class="animated-bar "></div>
                    </div>
                  </div>
                </div>
                <!-- Resume title End-->
                <!-- Resume Content -->
                <div class="row">
                  <!-- Education part-->
                  <div class="col-md-6 col-12 ">
                    <div class=" col-block education ">
                      <h3 class="about-subtitle">Education</h3>
                      <div class="resume-item"><span class="item-arrow"></span>
                        <h5 class="item-title">Bachelor of Computer Science in Software Engineer</h5><span class="item-details">Eastern Mediterrenean University / 2017 - 2021</span>
        
                      <p class="item-description">  Completed coursework in software design, data structures and algorithms, database systems, operating systems, software testing, and project management</p>
                      <p class="item-description">  Developed expertise in programming languages such as Java, Python, and JavaScript</p>
                      <p class="item-description">  Received three honorary certificates for outstanding academic performance and extracurricular activities</p>
                      <h6 class="item-details">Projects:</h6>
                      <p class="item-description">  Developed Android Mobile Applications that allowed users to easily manage their daily tasks and schedules</p>
                      <p class="item-description">  Built several Web Development projects using technologies like HTML, CSS, JavaScript, and jQuery, to create responsive and user-friendly interfaces</p>
                      <p class="item-description">  Demonstrated strong problem-solving skills and attention to detail throughout the development process</p>
                      <p class="item-description">  Collaborated effectively with team members to deliver projects on time and within budget.</p>
                      </div>

                    </div>
                  </div>
                  <!-- Experience part -->
                  <div class="col-md-6 col-12 ">
                    <div class=" col-block education">
                      <h3 class="about-subtitle">Experience</h3>
                      <div class="resume-item"><span class="item-arrow"></span>
                        <h5 class="item-title">Software Development Assistant Specialist</h5><span class="item-details">Near East Technology / 2022 -
                          Current</span>
                      <p class="item-description">Creating processes with IBM's BPM/BAW <br> with using Javascript </p>
                      <p class="item-description">  Developed and implemented software applications using IBM's Business Automation Workflow platform </p>
                      <p class="item-description">  Built custom components using JavaScript and jQuery</p>
                      <p class="item-description">  Created integrations with external systems</p>
                      <p class="item-description">  Collaborated with other developers and stakeholders to ensure solutions met business requirements and quality standards</p>
                      <p class="item-description">  Performed unit and integration testing and provided technical support to end-users</p>
                      <p class="item-description">  Participated in the software development life cycle</p>
                      </div>
                      <div class="resume-item"><span class="item-arrow"></span>
                        <h5 class="item-title">Web Developer</h5><span class="item-details">Maxsoftlabs / 2021 - 2022</span>
                       
                       <p class="item-description"> I have a proven track record of creating and organizing websites that meet business requirements and exceed user expectations. </p>
                       <p class="item-description"> With my expertise in technologies such as HTML, CSS, Javascript, jQuery, Bootstrap 5, Axios, NodeJs and MongoDb, </p>
                       <p class="item-description"> I have successfully published 8+ websites that are highly functional, visually appealing, and easy to navigate. </p>
                       <p class="item-description"> My passion for delivering high-quality software solutions and commitment to continuous learning make me an ideal candidate for challenging and innovative projects.</p>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- Resume ContentEnd -->
              </div>
              <!-- / Resume section End-->
              <!-- Skill Bar Section -->
              <div class="skill-section">
                <div class="row">
                  <div class="col-12 ">
                    <div class="section-title animate__animated animate__fadeInUp animate__delay-3s">
                      <P class="common-desctiption">My level of knowledge in some tools</P>
                      <h1 class="common-title">my <span>skills</span></h1>
                      <div class="animated-bar"></div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12 ">
                    <h3 class="about-subtitle">Coding <span>Skills</span></h3>
                    <div class="skill-bars">
                      <div class="bar">
                        <div class="info">
                          <span>Javascript</span>
                        </div>
                        <div class="progress-line Photoshop">
                          <span></span>
                        </div>
                      </div>
                      <div class="bar">
                        <div class="info">
                          <span>C</span>
                        </div>
                        <div class="progress-line Illustrator">
                          <span></span>
                        </div>
                      </div>
                      <div class="bar">
                        <div class="info">
                          <span>Android Studio</span>
                        </div>
                        <div class="progress-line Figma">
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12 ">
                    <h3 class="about-subtitle">Coding <span>Skills</span></h3>
                    <div class="skill-bars">
                      <div class="bar">
                        <div class="info">
                          <span>HTML</span>
                        </div>
                        <div class="progress-line html">
                          <span></span>
                        </div>
                      </div>
                      <div class="bar">
                        <div class="info">
                          <span>CSS</span>
                        </div>
                        <div class="progress-line css">
                          <span></span>
                        </div>
                      </div>
                      <div class="bar">
                        <div class="info">
                          <span>jQuery</span>
                        </div>
                        <div class="progress-line jquery">
                          <span></span>
                        </div>
                      </div>
                      <div class="bar">
                        <div class="info">
                          <span>Java</span>
                        </div>
                        <div class="progress-line python">
                          <span></span>
                        </div>
                      </div>
                      <div class="bar">
                        <div class="info">
                          <span>SQL</span>
                        </div>
                        <div class="progress-line mysql">
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / Skill Bar Section -->
              <!-- service section  -->
              <div class="services-section text-center ">
                <div class="row ">
                  <div class="col-12">
                    <div class="section-title  animate__animated animate__fadeInUp animate__slower animate__delay-3s ">
                      <P class="common-desctiption">Services i offer to my clients</P>
                      <h1 class="common-title">My <span>Services</span></h1>
                      <div class="animated-bar"></div>
                    </div>
                    <p class="service-text">
                    </p>
                  </div>
                </div>
                <div class="row animate__animated animate__zoomIn animate__slower animate__delay-3s">
                  <!-- Single Item -->
                  <div
                    class="col-lg-3 col-sm-6 services-box animate__animated animate__zoomIn animate__slower animate__delay-3s">
                    <div class="service-item">
                      <i class="fas fa-laptop-code"></i>
                      <h4><span class="service-line">web design</span></h4>
                      
                    </div>
                  </div>
                  <!-- End Single Item -->

                  <!-- Single Item -->
                  <div
                    class="col-lg-3 col-sm-6 services-box animate__animated animate__zoomIn animate__slower animate__delay-3s">
                    <div class="service-item">
                      <i class="fas fa-palette"></i>
                      <h4><span class="service-line">design</span></h4>
                     
                    </div>
                  </div>
                  <!-- End Single Item -->

                  <!-- Single Item -->
                  <div
                    class="col-lg-3 col-sm-6 services-box animate__animated animate__zoomIn animate__slower animate__delay-3s">
                    <div class="service-item">
                      <i class="fas fa-object-ungroup"></i>
                      <h4><span class="service-line">product design</span></h4>
                     
                    </div>
                  </div>
                  <!-- End Single Item -->

                  

                  <!-- Single Item -->
                  <div
                    class="col-lg-3 col-sm-6 services-box animate__animated animate__zoomIn animate__slower animate__delay-3s">
                    <div class="service-item">
                      <i class="fas fa-radiation"></i>
                      <h4><span class="service-line">animation</span></h4>
                    
                    </div>
                  </div>
                  <!-- End Single Item -->

                  <!-- Single Item -->
                  <div
                    class="col-lg-3 col-sm-6 services-box animate__animated animate__zoomIn animate__slower animate__delay-3s">
                    <div class="service-item">
                      <i class="fas fa-code"></i>
                      <h4><span class="service-line">web development</span></h4>
                     
                    </div>
                  </div>
                  <!-- End Single Item -->

                  <!-- Single Item -->
                  <div
                    class="col-lg-3 col-sm-6 services-box animate__animated animate__zoomIn animate__slower animate__delay-3s">
                    <div class="service-item">
                      <i class="fas fa-arrows-alt"></i>
                      <h4><span class="service-line">fully responsive</span></h4>
                    
                    </div>
                  </div>
                  <!-- End Single Item -->

                  <!-- Single Item -->
                  <div
                    class="col-lg-3 col-sm-6 services-box animate__animated animate__zoomIn animate__slower animate__delay-3s">
                    <div class="service-item">
                      <i class="fas fa-dharmachakra"></i>
                      <h4><span class="service-line">management</span></h4>
                     
                    </div>
                  </div>
                  <!-- End Single Item -->
                </div>
              </div>
              <!-- / service section -->
              {{!-- <!-- Testimonials -->
              <div class="row">
                <div class="col-12 animate__animated animate__fadeInDown animate__delay-3s">
                  <div class="section-title">
                    <P class="common-desctiption">what our clients say</P>
                    <h1 class="common-title">My<span>Testimonial</span></h1>
                    <div class="animated-bar"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="testimonial" class="owl-carousel owl-theme">
                  <div class="item">
                    <div class="testimonial-item">
                      <div class="quote">
                        <i class="fas fa-quote-left"></i>
                      </div>
                      <div class="testimonial-img">
                        <img src="../../public/images/profile/glitch.jpg" alt="">
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta consequatur,
                        optio dolores aliquid </p>
                      <div class="rating">
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="testimonial-item">
                      <div class="quote">
                        <i class="fas fa-quote-left"></i>
                      </div>
                      <div class="testimonial-img">
                        <img src="../../public/images/profile/partical.jpg" alt="">
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta consequatur,
                        optio dolores aliquid </p>
                      <div class="rating">
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="testimonial-item">
                      <div class="quote">
                        <i class="fas fa-quote-left"></i>
                      </div>
                      <div class="testimonial-img">
                        <img src="../../public/images/profile/simple.jpg" alt="">
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta consequatur,
                        optio dolores aliquid </p>
                      <div class="rating">
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="testimonial-item">
                      <div class="quote">
                        <i class="fas fa-quote-left"></i>
                      </div>
                      <div class="testimonial-img">
                        <img src="../../public/images/profile/water.jpg" alt="">
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta consequatur,
                        optio dolores aliquid </p>
                      <div class="rating">
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="testimonial-item">
                      <div class="quote">
                        <i class="fas fa-quote-left"></i>
                      </div>
                      <div class="testimonial-img">
                        <img src="../../public/images/profile/wrap.jpg" alt="">
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta consequatur,
                        optio dolores aliquid </p>
                      <div class="rating">
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                        <i class="fas fa-3x fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Testimonials section --> --}}
              <!-- Fun Fact Section -->
              <div class="funfacts-section">
                <div class="row">
                  <div class="col-12">
                    <div class="section-title">
                      <P class="common-desctiption">This are my strongest sides</P>
                      <h1 class="common-title">fun <span>facts</span></h1>
                      <div class="animated-bar"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <div class="funfacts-box">
                      <h3 class="counter" data-to="2" data-time="1000">2</h3>
                      <p class="fun-text">years of <span>experience</span></p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="funfacts-box">
                      <h3 class="counter" data-to="15" data-time="1000">10</h3>
                      <p class="fun-text">happy Clients</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="funfacts-box">
                      <h3 class="counter" data-to="13" data-time="1000">13</h3>
                      <p class="fun-text">completed projects</p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>