  <!-- Body Part Start -->
  <div class="gaspar" data-magic-cursor="show" data-color="crimson">
    <!-- Pre-Loader Start-->
    <div id="preloader">
      <div class="loader_line"></div>
    </div>
    <!-- Pre-Loader end -->

    <!-- Header-section Start-->
    {{> navBar}}
    <!-- Header-section End-->
    <!-- section-part Start -->
    <div class="container ">
      <!-- Index-page Start -->
      <section id="home" class="section active">
        <div class="homecolor-box"></div>
        <div class="common_bg animate__animated animate__zoomIn">
          <div class="container m-auto">
            <div class="row align-items-center">
              <!-- Profile-Pic -->
              <div class=" col-xl-5 col-lg-6 col-md-6 col-12">
                <div class="home-profile animate__animated animate__fadeInLeft animate__delay-1s">
                  <img src="../../public/images/profile/tarik-image.jpeg" alt="home-profile">
                </div>
              </div>
              <!-- Profile-Pic End-->
              <!-- Profile-Information -->
              <div class="col-xl-7 col-lg-6 col-md-6 col-12">
                <div class="home-content">
                  <P class="common-desctiption animate__animated animate__fadeInDown animate__delay-1s">Get to know me
                  </P>
                  <h1 class="common-title animate__animated animate__fadeInDown animate__delay-1s">Tarık İslam</h1>
                  <div class="animated-bar animate__animated animate__fadeInDown animate__delay-2s"></div>
                  <div class="animated-text animate__animated animate__fadeInDown animate__delay-2s">
                    <h3>Web Developer</h3>
                    <h3>IBM BPM/BAW Process Designer</h3>
                    <h3>Software Engineer</h3>
                  </div>
                  <!-- Social media icons-->
                  <div class="fixed-block animate__animated animate__jackInTheBox animate__delay-2-5s">
                    <ul class="list-unstyled social-icons">
                    {{!--   <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fab fa-facebook-square "></i></a></li> --}}
                      <li><a href="https://www.linkedin.com/in/tar%C4%B1k-islam-59b503179" target="_blank"><i class="fab fa-linkedin "></i></a></li>
                      <li><a href="https://github.com/tar-kislam" target="_blank"><i class="fab fa-github-square "></i></a></li>
                      <li><a href="https://www.instagram.com/tar_kislam" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
                    </ul>
                  </div>
                  <p class="index-header-text animate__animated animate__zoomIn animate__delay-2-5s">Hello i am <span style="color:#ff651c; font-weight: bold;">Tarık</span>, I'm a software engineer with over 2 years of experience in website creation and development. 
                  <br> I began my career at a finance company where I honed my skills in website organization and design, successfully publishing 8+ websites during my time there. Currently, I work at Near East Technology, where I apply my frontend development expertise to create innovative business process models. 
                  <br> I am passionate about crafting intuitive and user-friendly interfaces, and I take pride in my ability to deliver high-quality work that meets my clients' needs. 
                  <br> Whether you're looking for a sleek, modern website or a functional business solution, I'm confident that I have the skills and experience to help you achieve your goals.
                  </p>
                  <div class="home-btn">
                    <a href="#contact" data-section-index="1"
                      class="clickbtn hire-me animate__animated animate__fadeInTopLeft animate__delay-3s ">Hire me</a>
                    <a href="#about" data-section-index="1"
                      class="clickbtn about-us animate__animated animate__fadeInTopRight animate__delay-3s">about me </a>
                  </div>
                </div>
              </div>
              <!-- Profile-Information End -->
            </div>
          </div>
        </div>
      </section>
      <!-- Index-page End -->

      <!-- About Section Start -->
      {{> about}}
      <!-- About Section End -->

      <!-- Protfolio Section Start-->
     {{> portfolio}}
      <!-- Protfolio Section End -->

      <!-- Contact section Start -->
      {{> contact}}
      <!-- Contact section End -->

    </div>
    <!-- section-part End-->
    <!-- Mouse-Cursor -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- Mouse-Cursor End-->
  </div>

   <div class="whatsapp" id="wpId">
        <a href="https://wa.me/+905338533227" target="_blank">
            <i class="fa fa-whatsapp"></i>
        </a>
    </div>
  <!-- Body Part End -->
  <!-- Optional JavaScript -->
  <!-- Jquery Js -->
  <script src="../../public/js/jquery.min.js"></script>
 <!-- Fontawesome CDN -->
  <script src="https://use.fontawesome.com/1ec0ee5070.js"></script>
  <!-- Bootstrap Js -->
  <script src="../../public/js/bootstrap.bundle.min.js"></script>
  <!-- Jquery FancyBox Js -->
  <script src="../../public/js/jquery.fancybox.min.js"></script>
  <!-- Mixitup Js -->
  <script src="../../public/js/mixitup.min.js"></script>
  <!-- Owlcarousel Js -->
  <script src="../../public/js/owl.carousel.min.js"></script>
  <!-- Jquery Countdown Js -->
  <script src="../../public/js/jquery.countdown.min.js"></script>
  <!-- Wow Js -->
  <script src="../../public/js/wow.min.js"></script>
  <!-- colors JS -->
  <script src="../../public/js/color.js"></script>
  <!-- Style.switch JS -->
  <script src="../../public/js/style.switch.js"></script>
  <!-- Custom Js -->
  <script src="../../public/js/custom.js"></script>