    <div class="header-holder services-section text-center animate__animated animate__zoomIn">
      <div class="navigation">
        <ul class="nav">
          <li class="list active">
            <a href="#home" class="active">
              <span class="icon">
                <i class="fas fa-house-user"></i>
              </span>
              <div class="social__tooltip social__tooltip-bottom">Home</div>
            </a>
          </li>
          <li class="list">
            <a href="#about">
              <span class="icon">
                <i class="fas fa-user-alt"></i>
              </span>
              <div class="social__tooltip social__tooltip-bottom">About</div>
            </a>
          </li>
          <li class="list">
            <a href="#portfolio">
              <span class="icon">
                <i class="fas fa-briefcase"></i>
              </span>
              <div class="social__tooltip social__tooltip-bottom">Portfolio</div>
            </a>
          </li>
          <li class="list">
            <a href="#contact">
              <span class="icon">
                <i class="fas fa-phone-alt"></i>
              </span>
              <div class="social__tooltip social__tooltip-bottom">Contact</div>
            </a>
          </li>
        </ul>
      </div>
    </div>