 <section id="portfolio" class="section">
        <div class="homecolor-box"></div>
        <div class="common_bg animate__animated animate__fadeInLeft">
          <div class="container">
            <div class="protfolio-section text-center  ">
              <!-- Protfolio-Title Start -->
              <div class="row">
                <div class="col-12">
                  <div class="section-title animate__animated animate__fadeInDown animate__delay-1s">
                    <P class="common-desctiption">Showcasing some of my best work</P>
                    <h1 class="common-title">My <span>Portfolio</span></h1>
                    <div class="animated-bar"></div>
                  </div>
                </div>
              </div>

              <h1>Under <span style="color:#ff651c">Construction</span>  for now!</h1>

            </div>
          </div>
        </div>
      </section>