<!doctype html>
<html lang="en">

<head>
  <!-- Title of The Page -->
  <title>Tarık İSLAM | Software Engineer</title>
  <!-- Meta Informations -->
  <meta charset="utf-8">
  <meta name="description" content="Fuat Tarık İSLAM - Personel Portfolio and Resume Website">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Favicon -->
  <link type="image/x-icon" rel="shortcut icon" href="../../public/images/logo/tarik-logo.png" />
  <!-- Font CSS -->
  <link type="text/css" rel="stylesheet" href="../../public/fonts/font.css" />
  <!-- Font-Awesome All CSS -->
  <link type="text/css" rel="stylesheet" href="../../public/css/all.css" />
  <!-- Bootstrap CSS -->
  <link type="text/css" rel="stylesheet" href="../../public/css/bootstrap.min.css" />
  <!-- Owlcarousel CSS -->
  <link type="text/css" rel="stylesheet" href="../../public/css/owl.carousel.min.css" />
  <!-- Fancybox CSS -->
  <link type="text/css" rel="stylesheet" href="../../public/css/jquery.fancybox.min.css" />
  <!-- Animate CSS -->
  <link type="text/css" rel="stylesheet" href="../../public/css/animate.min.css" />
  <!-- colors CSS -->
  <link rel="stylesheet" type="text/css" href="../../public/css/colors.css" />
  <!-- Styles CSS -->
  <link type="text/css" rel="stylesheet" href="../../public/css/styles.css" />
  <!-- Live Style Switcher - demo only -->
	<link id="style-switch" href="../../public/css/colors/orange.css" media="screen" rel="stylesheet" type="text/css">
  <!-- Responsive CSS -->
  <link type="text/css" rel="stylesheet" href="../../public/css/responsive.css" />
</head>

<body>
                            {{{body}}}
</body>

</html>